<section class="container-main">
    <div class="container-bg-log-in">
        <form class="container-log-in" #formSignIn="ngForm">
            <h2>Log in !</h2>
            <div class="container-form">
                <input [(ngModel)]="email" type="text" name="Email" id="Email" placeholder="ejemplo@gmail.com">
                <input [(ngModel)]="password" type="pasword" name="Password" id="Password"
                    placeholder="Enter your password">
            </div>
            <button type="submit" class="btn-register" (click)="ingresar()">Sign in</button>
            <div class="footer">
                <p>Don't you have an account? Create one for free</p>
                <a routerLink="/sign-in">Sign in <span>here</span></a>
            </div>
        </form>
    </div>
</section>