<section class="container-main">
    <div class="container-bg-sign-in">
        <form class="container-sign-in" #formSignIn="ngForm" >
            <h2>Register Now !</h2>
            <p>Sign in now and get free access to our courses.</p>
            <div class="container-form">
                <input type="text" name="FirstName" id="Firstname" placeholder="First Name">
                <input type="text" name="LastName" id="Lastname" placeholder="Last Name">
                <input type="text" name="Email" id="Email" placeholder="Email">
                <input type="passowrd" name="Password" id="Password" placeholder="Enter your password">
                <input type="passowrd" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm your password">
            </div>
            <button type="submit" class="btn-register">Sign in</button>
            <p>Already have an account ?</p>
            <a href="">Log in <span>here</span></a>
        </form>
    </div>
</section>