<!-- Navbar -->
<section class="nav-container">
    <div class="header">
        <span>
            <p>Check out our beginner course for Java <a href="">here</a>!</p>
        </span>
    </div>
    <nav class="navbar nav">
        <div class="container-fluid nav-container-items">
            <span class="navbar-brand mb-0 nav-header">
                <img src="ChatGPT_Image_12_oct_2025__05_32_33_p.m.-removebg-preview.png" alt="">
                <a href="">CodeTrial</a>
            </span>
            <span class="nav-links">
                <a routerLink="home">Home</a>
                <a routerLink="cookies">Cookies</a>
            </span>
            <span>
                <button routerLink="sign-in" type="button">Join Us</button>
            </span>
        </div>
    </nav>
</section>
<!-- Navbar - Fin -->