/*Variables*/
:host {
    --color-bg: #1b0c29;
    --color-bg-nav: #020414;
    --color-borde-nav: rgb(255, 244, 37);
    --color-secundario: #ffffff;
    --color-titulo: #2eceff;
    --color-links: rgb(255, 255, 255);
    --color-resaltado: rgba(53, 218, 255, 0.75);
    --tam-letra: 1.2rem;
    --tam-letra-hover: 1,5rem;
}

/*Para el header*/
.header{
    background-color: var(--color-resaltado);
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 0.2rem;
    font-weight: bold;
    height: 2rem;
}

/*Para el link del header*/
.header a{
    color: rgb(190, 190, 34);
}

/*Para el contenedor de la navbar*/
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}
/*Para el header de la navbar*/
.nav-header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-secundario);
    font-size: var(--tam-letra);
    transition: all 1s;
}

/*Hover para el header de la navbar*/
.nav-header a:hover {
    font-size: var(--tam-letra-hover);
    color: var(--color-resaltado);
    transition: all 1s;
}
/*Para la imagen del logo de la navbar*/
.nav img {
    height: 5rem;
}

/*Para la navbar*/
.nav {
    width: 100%;
    height: 4rem;
    display: flex;
    align-content: center;
    backdrop-filter: blur(100px);
    border-bottom: none;
    /*box-shadow: 1px 28px 42px -20px var(--color-resaltado);*/
    background-color: var(--color-bg-nav);
}

/*Para el container de los items de la navbar*/
.nav-container-items {
    display: flex;
    justify-content: space-between;
}

/*Para el container de los links de la navbar*/
.nav-links {
    display: flex;
    gap: 3rem;
    margin-left: 4rem;
}

/*Para los links de la navbar*/
.nav-links a {
    text-decoration: none;
    font-size: var(--tam-letra);
    color: var(--color-links);
    transition: all 1s;
}

/*Hover para los links de la navbar*/
.nav-links a:hover {
    color: var(--color-resaltado);
    text-decoration: underline;
    font-size: 1.5rem;
}

/*Para el boton de la navbar*/
.nav button {
    font-weight: bolder;
    text-decoration: none;
    border: none;
    height: 1.8rem;
    border-radius: 1rem;
    background-color: var(--color-borde-nav);
    width: 13rem;
    box-shadow: 0 0 15px var(--color-borde-nav);
    margin-right: 2rem;
    transition: all 1s;
}

/*Hover para el boton*/
.nav button:hover {
    height: 2.2rem;
    width: 13.5rem;
    font-size: 1.3rem;
    transition: all 1s;
}