<!-- Inicio del home-->
<section class="container-home">

    <section class="container-main-img-parrafo">
        <div class="container-parrafo">
            <h2>Become the <span>best</span> programmer you could ever be !</h2 >
            <p>You can develop your skills in every single programming language for <span>free</span>, practice
                <span>real
                    coding</span> challenges,
                and <span>grow</span> your problem-solving abilities step by step.</p>
            <div class="container-btns">
                <button class="button">
                    Learn more
                </button>
            </div>
        </div>
        <div class="img-container">
            <img src="hombre-de-tiro-medio-con-gafas-vr.jpg" alt="">
        </div>
    </section>

    <section class="container-cards scroll">
        <div class="card block">
            <div class="card-content">
                <img src="python_5968350.png" alt="">
            </div>
        </div>
        <div class="card block">
            <div class="card-content">
                <img src="js_5968292.png" alt="">
            </div>
        </div>
        <div class="card block">
            <div class="card-content">
                <img src="java_226777.png" alt="" width="">
            </div>
        </div>
    </section>
</section>