@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #15204a);
    background-attachment: fixed; /* mantiene el gradient fijo al hacer scroll */
    background-repeat: no-repeat;
}

* {
    font-family: 'Montserrat', sans-serif;
}